/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main-font-weight);
  border-color: #d3d3d3;
  padding-top: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: clamp(375px, 100%, 700px);
  margin: 0 auto;
  padding: var(--header-padding);
}

.header__block {
  background-color: var(--main-background-color, #fff);
  border: 2px solid rgba(0, 0, 0, 1);
  font-family: var(--accent-font-family), sans-serif;
}

.header__logo {
  font-size: var(--header-size);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: var(--header-title-size);
  white-space: nowrap;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 100px;
  gap: 45px;
  margin-top: 96px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  width: clamp(371px, 100%, 696px);
  margin: 0 auto;
  width: var(--width-card);
  border: 2px solid var(--border-color, #000);
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: normal;
  padding: 4px 10px;
  box-sizing: border-box;
  font-weight: 715;
  font-variation-settings: "wght" 715;
  background-color: #fff;
  border-bottom: 2px solid #000;
  padding: var(--card-title-padding); 
}

.card__image-wrapper {
  position: relative;
  border: 2px solid #000;
  border-left: none;
  border-right: none;
  width: 100%;
  aspect-ratio: 1 / 1;
  width: var(--width-img);
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 100%;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  text-shadow:
    1px 1px 0 rgba(var(--color-label), 0.5),
    -1px -1px 0 rgba(var(--color-label), 0.5),
    1px -1px 0 rgba(var(--color-label), 0.5),
    -1px 1px 0 rgba(var(--color-label), 0.5);
}

@supports (-webkit-text-stroke: 1px var(--color-label)) {
  .label {
    -webkit-text-stroke: 1px rgba(var(--color-label), 0.5);
    text-shadow: none;
  }
}

.card__list {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.list__item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 410;
  font-variation-settings: "wght" 410;
  letter-spacing: 0;
  font-family: "Inter", sans-serif;
  padding: 0 25px 25px 25px;
}

.card__button {
  display: flex;
  justify-content: right;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 6px;
}

.button {
  position: relative;
  border: 2px solid #000;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.button-text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  position: relative;
  overflow: hidden;
}

.card__like-button::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__icon-button {
  padding: 0;
  outline: none;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid rgba(0, 0, 0, 1);
  outline: none;
}

.like-icon {
  position: relative;
  z-index: 1;
  transform-origin: center;
  display: block;
}

.contour {
  fill: #000;
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:active .core {
  fill: red;
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: red;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: red;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s liner 0.06s;
}

.like-icon.is-liked {
  animation: scale-heart 0.3s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s ease-in 0.3s;
}

.like-icon:hover .core {
  transition: 0.3s linear;
}

.like-icon:hover .main-body {
  transition: 0.3s linear 0.05s;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: #000;
  opacity: 1;
}

.like-icon:active:hover .core,
.like-icon:active:hover .main-body {
  fill: red;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: red;
}

.icon-button {
  width: 21px;
  height: 21px;
  fill: #fff;
  z-index: 1;
  position: relative;
}

.button_type_save {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 19px;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 90%;
  background-color: #fff;
}

.dialog {
  padding: 0;
  border: 2px solid #000;
  background-color: #fff;
  max-width: 353px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  padding: 30px 30px 20px;
  gap: 20px;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  fill: #000;
  flex-shrink: 0;
  display: block;
  transform: scale(1.3);
  transform-origin: center;
}

.dialog__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0;
}

.dialog__button {
  width: calc(100% - 60px);
  margin: 0 30px 30px;
  padding: 12px 0;
  background-color: transparent;
  border: 2px solid #000;
  font-family: var(--accent-font-family);
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

@media (width <= 375px) {
  .button_type_save {
    flex-direction: column;
    gap: 18px;
  }

  .main {
    margin-top: 100px;
    gap: 47px;
  }
}


