/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main-font-weight);
  padding-top: 98px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding-block: var(--header-padding-block);
  padding-inline: var(--header-padding-inline);
  margin: 0 auto;
  border: 2px solid #000;
  box-sizing: border-box;
  gap: 20px;
  inline-size: clamp(375px, 260.56px + 30vw, 700px);
}

.header__block {
  background-color: var(--main-background-color, #fff);
  font-family: var(--accent-font-family), fantasy;
}

.header__logo {
  font-size: var(--header-logo-size);
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.header__title {
  font-size: var(--header-title-size);
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  min-inline-size: 0;
  margin: 0;
  white-space: nowrap;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 100px;
  gap: 50px;
  margin-top: 97px;
  inline-size: 100%;
  max-inline-size: 100%;
  min-inline-size: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  margin: 0 auto;
  inline-size: var(--width-card);
  border: 2px solid #000;
  box-sizing: border-box;
}

.card__title {
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: 715;
  font-variation-settings: "wght" var(--accent-font-weight);
  background-color: #fff;
  padding: 4px 10px 4px 10px;
}

.card__image-wrapper {
  position: relative;
  inline-size: 100%;
  max-inline-size: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: none;
  border-right: none;
  overflow: hidden;
  min-inline-size: 0;
  margin-bottom: 25px;
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.img__hue {
  filter: hue-rotate(50deg) saturate(1.5) brightness(1.5);
}

.filter__blur {
  filter: blur(10px);
}

.img__contrast {
  filter: contrast(350%);
}

.img__sepia {
  filter: sepia(0.5);
}

.img__invert {
  filter: invert(100%);
}

.img__satur {
  filter: saturate(200%) hue-rotate(0.5turn);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 100%;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 rgba(var(--color-label));
  z-index: 1;
  opacity: 50%;
}

@supports (-webkit-text-stroke: 1px var(--color-label)) {
  .label {
    -webkit-text-stroke: 1px rgba(var(--color-label));
    text-shadow: none;
  }
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}

.list__item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 410;
  font-variation-settings: "wght" 410;
  letter-spacing: 0;
  font-family: var(--main-font-family), sans-serif;
  padding: 0 25px;
  overflow-wrap: break-word;
  min-inline-size: 0;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-bottom: 24px;
  margin-top: 25px;
  gap: 5px;
}

.button {
  position: relative;
  border: 2px solid #000;
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.button:not(.card__icon-button)::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:not(.card__icon-button):hover::before {
  transform: translateX(0);
}

.button:not(.card__icon-button):hover {
  color: #fff;
}

.button-text {
  position: relative;
  z-index: 2;
  overflow-wrap: break-word;
  min-inline-size: 0;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: 9px 17px;
  background-color: #fff;
}

.like-icon:focus {
  outline: none;
}

.card__icon-button {
  padding: 0;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid rgba(0, 0, 0, 1);
  outline: none;
}

.like-icon {
  position: relative;
  z-index: 1;
  transform-origin: center;
  display: block;
}

.contour {
  fill: #000;
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:active .core {
  fill: red;
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: red;
  transition-delay: 0.05s;
}

.like-icon:not(.is-liked):hover .core,
.like-icon:not(.is-liked):hover .main-body {
  fill: #000;
  transition: 0.3s linear;
}

.like-icon.is-liked .core,
.like-icon.is-liked:hover .core {
  fill: red;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body,
.like-icon.is-liked:hover .main-body {
  fill: red;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: red;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: scale-heart 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s ease-in 0.3s;
}

.button_type_save {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  background-color: #fff;
  max-inline-size: 100%;
  min-inline-size: 0;
}

.icon-button {
  inline-size: 21px; 
  z-index: 1; 
  position: relative; 
  aspect-ratio: 1/1; 
  fill: currentColor; 
  transition: fill 0.3s ease; 
}

.dialog {
  padding: 0;
  border: 2px solid #000;
  background-color: #fff;
  max-width: 353px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  padding: 30px 30px 20px;
  gap: 20px;
}

.dialog__icon {
  fill: #000;
  flex-shrink: 0;
  display: block;
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.dialog__text {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0;
}

.dialog__button-text {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.dialog__button {
  width: calc(100% - 60px);
  margin: 0 30px 30px;
  padding: 12px 0;
  background-color: #fff;
  color: #000;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
}

.dialog__button::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.dialog__button:hover::before {
  transform: translateX(0);
}

.dialog__button:hover {
  color: #fff;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

@media (width <= 375px) {
  .button_type_save {
    flex-direction: column;
    gap: 12px;
    padding: 14px 18px;
  }

  .main {
    margin-top: 98px;
    gap: 49px;
  }

  .card__title {
    line-height: 22px;
    padding: 4px 10px 4px 10px;
  }

  .icon-button {
    inline-size: 28px;
  }
}


