/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter-Variable";
  --accent-font-family: "Press Start 2P";
  --main-background-color: #fff;
  --color-text: #fff;
  --accent-color: #000;
  --border-color: #000;
  --color-label: 255, 255, 255;
  --main-font-weight: 410;
  --accent-font-weight: 715;
  --background-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  --header-padding-block: clamp(7.625rem, 7.048rem + 2.46vw, 8.125rem);
  --header-padding-inline: clamp(1rem, -6.681rem + 32.77vw, 7.656rem);
  --header-logo-size: clamp(3.063rem, 1.909rem + 4.92vw, 4.063rem);
  --header-title-size: clamp(0.875rem, 0.226rem + 2.77vw, 1.438rem);
  --width-card: clamp(375px, 260.56px + 30vw, 700px);
}
